<h1>Welcome to our hospital management</h1>
<a href="/api/shifts">Check shifts</a>
<table>
  <h2>Worker's List</h2>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>ID</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>

  <% workers.forEach(function(worker){ %>
  <tr>
    <td><%= worker.name %></td>
    <td><%= worker.status %></td>
    <td><%= worker.id %></td>
    <td>
      <form action="/api/workers/<%= worker.id %>?_method=DELETE" method="POST">
        <button>
          X
        </button>
      </form>
    </td>
    <td>
      <form>
        <a href="/api/workers/<%= worker.id %>">
          O
        </a>
      </form>
    </td>
  </tr>
  <% }); %>
</table>

<h2>Add a new worker</h2>
<div>
  <form action="/api/workers/register" method="POST">
    <input class="form-control" type="text" name="name" placeholder="name" />

    <input
      class="form-control"
      type="text"
      name="status"
      placeholder="status"
    />

    <button class="btn btn-lg btn-primary btn-block">Add</button>
  </form>
</div>
